<a href="https://colab.research.google.com/github/danicode31/Python/blob/master/Clase_1_Python_%7C_ICARO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introducción a Python - ICARO
_________________________________
Clase: 01  
Tema: Primeras líneas de código
¡Bienvenido a tu primera Notebook!  
_________________________________

# Jupyter notebooks

Jupyter notebooks nos permiten escribir código python, visualizar resultados y combinar todo esto con celdas de texto como esta!

En las celdas de texto, podemos usar markdown para formatear las celdas. Veamos algunos de los tags más comunes

# Headings

Para los headings (títulos) se usa el simbolo "#" seguido de un espacio.
Mientras más "#" agreguemos, más pequeño será el heading. Veamos ejemplos:

# título 1
## título 2
### título 3
#### título 4

# Colores

Se puede asignar color a los textos de la siguiente forma:

<font color=blue>Texto azul</font>

<font color=red>Texto rojo</font>

# Listas

Usando "-" y un espacio antes del texto, podemos armar bullet lists:
- item 1
- item 2
- item 3
- item 4

# Negrita
Para usar negrita, debemos poner nuestro texto entre asteriscos dobles:
**Texto en negrita**

# Italica
Para italica, en lugar de usar asteriscos dobles, usamos simples:
*Texto en itálica*

# Hipervínculos
Para escribir texto con hipervínculos, debemos escribir el texto a mostrar entre [] seguido de la url entre (). Por ejemplo:
[link a google](https://www.google.com)


Estos son los tags más comúnes que vamos a utilizar, de todas formas, hay muchos más y **TODO ESTA EN GOOGLE**


# Celdas de código

En el curso vamos a utilizar **python** como lenguaje de programación. Las celdas de código de jupyter nos permiten escribir código python que vamos a aprender en las próximas clases.

Veamos un ejemplo:

In [ ]:
print("Hola mundo!")

In [ ]:
2

In [ ]:
"a"

# Comandos mágicos

Los comandos mágicos no son más que comandos los cuales están pensandos para resolver tareas comunes y repetitivas. Son muy fáciles de identificar, ya que poseen el prefijo de porcentaje (%).

In [ ]:
%%time
1 + 1
2 - 2
3 + 3
print("hola")
print(3)

In [ ]:
print("hola")

In [ ]:
%%capture
print("a")

In [ ]:
print("a")

Vamos a estar utilizandolos más adelante a lo largo del curso.

# Comandos de terminal

In [ ]:
!ls

In [ ]:
!pwd

In [ ]:
%%capture
!pwd

# ¡Empecemos a programar!

Recomendación: Además de ejecutar el notebook, modifiquen, prueben, rompan... ¡Nada es irreversible!

# Celdas de código

En las celdas de código, se puede ejecutar código python

In [ ]:
1 + 1

In [ ]:
1 + 1
1 + 3
4 + 5 # Sume cuatro mas cinco

In [ ]:
# Comentarios
# En python, todas las lineas que empiecen con # son comentarios.
# Los comentarios no ejecutan ninguna instrucción, simplemente sirven para dejar anotaciones en nuestro código

In [ ]:
"""
También podemos hacer comentarios de varias lineas utilizando comillas como en este ejemplo
a
a
a
fafakngla
a
a
"""

El primer comando que vamos a utilizar es print().

print() es una **función** de python que nos permite imprimir mensajes:

In [ ]:
print("Hola Mundo")

In [ ]:
"hola ' como estas" # STRING

In [ ]:
1192 # INT

In [ ]:
100.9 # FLOAT

In [ ]:
True # BOOL (verdadero)

In [ ]:
False # BOOL (falso)

## Variables y tipos de datos

Una variable es donde se almacenan y recuperan los datos que utilizamos en nuestros programas.

Las variables deben ser de un **tipo de datos**. En python tenemos tipos de datos primitivos como:

- str: string (variables que almacenan caracteres)
- int: integer (variables que almacenan números enteros)
- float (variables que almacenan números con decimales)
- bool: booleanos (variables que pueden tomar como valor TRUE o FALSE)

Veamos algunos ejemplos!

Definimos una variable de cada tipo:

In [ ]:
# STRING
variable_string = 'Esto es un string'

In [ ]:
print(variable_string)

In [ ]:
# INT
variable_int = 1

# FLOAT
variable_float = 1.1

# BOOL
variable_bool = True
variable_bool_false = False

In [ ]:
mi_variable = "3.5"

In [ ]:
print(mi_variable)

En python, podemos usar la función type() para saber el tipo de una variable

In [ ]:
type(variable_string)

In [ ]:
type(variable_int)

In [ ]:
type(variable_float)

In [ ]:
type(variable_bool)

De que tipo es esta variable?

In [ ]:
mi_variable = '1.3'

In [ ]:
# COMPLETAR (imprimir el tipo de la variable mi_variable y ejecutar la celda)
type(mi_variable)

F Strings: Nos permiten poner una variable dentro de un string. Se arman de la siguiente manera:

In [ ]:
x = 10 #int
f"Esto es un f string. El valor de la variable x es: {x}"

Las variables, como su nombre lo indica, pueden cambiar su valor a lo largo de la ejecución del programa. Veamos ejemplos..

In [ ]:
a = 1
print(f"Valor de a: {a}") # Cuando ponemos f adelante de un string, podemos imprimir el valor de una variable que pongamos entre {}
a = 2
print(f"Nuevo valor de a: {a}")
a = a + 1 # a + 1 -> 2 + 1 -> 3
print(f"Le sumamos 1 a la variable y el resultado es: {a}")

### None

En python, el valor None representa una variable vacia

In [ ]:
vacia = None
print(vacia)

In [ ]:
type(vacia)

### Cambiar tipo de variable

Los tipos de variables se pueden cambiar.

Por ejemplo:

In [ ]:
numero = 5
print(type(numero))

Transformemos la variable numero a str:

In [ ]:
numero = str(numero)
print(type(numero))

De todas formas, no se puede en todos los casos. Por ejemplo, no podemos transformar en int un str que tiene como valor una palabra:

In [ ]:
palabra = 'prueba'
int(palabra)

In [ ]:
mi_numero_entero = 5

In [ ]:
float(mi_numero_entero)

In [ ]:
mi_numero_float = 5.5

int(mi_numero_float)

In [ ]:
# Escribir ejemplos para:

# Cambiar un entero a float
# Cambiar un float a entero
# Cambiar un float a string

## Operaciones

En python, como en todos los lenguajes de programación, podemos realizar operaciones matemáticas. Desde sumas y restas hasta operaciones más complejas.

In [ ]:
# SUMA
print(1 + 1)

In [ ]:
# RESTA
print(3 - 1)

Para googlear:

In [ ]:
# MULTIPLICACIÓN

# COMPLETAR EJEMPLO
print()

In [ ]:
# DIVISIÓN

# COMPLETAR EJEMPLO
print()

In [ ]:
# RESTO DE UNA DIVISIÓN

# COMPLETAR EJEMPLO
print()

In [ ]:
# ELEVAR UN NÚMERO AL CUADRADO

# COMPLETAR EJEMPLO
print()

Tambien podemos realizar operaciones entre variables, o asignar el resultado de una operacion a una variable

In [ ]:
a = 1
b = 2
c = a + b # es lo mismo que hacer 1 + 2
print(c)

Los string, también nos permiten aplicar operaciones.

¿ Qué pasa si sumamos 2 strings ?

In [ ]:
# COMPLETAR CON UN EJEMPLO
a =
b =

print(a + b)

¿Y si multiplicamos un string por un número entero?

In [ ]:
# COMPLETAR CON UN EJEMPLO
a * 10

PREGUNTA: ¿Que tipo de dato se genera si multiplicamos un STRING y un ENTERO?

In [ ]:
# COMPLETAR CON UN EJEMPLO
type(a * 10)

Funciones sobre strings:

In [ ]:
string_ejemplo = "Hola como estás?"

In [ ]:
print()

In [ ]:
help(print)

Función IN

In [ ]:
x = "Hola"

In [ ]:
"Hola" in string_ejemplo

In [ ]:
"Hola" not in string_ejemplo

Función replace

In [ ]:
x

In [ ]:
string_ejemplo.replace("como", "COMO")

In [ ]:
print("noanfo")

In [ ]:
string_ejemplo = "hola hola como hola estas hhhh hola como 44444444"

In [ ]:
string_ejemplo.count("hola como")

In [ ]:
"hola" in string_ejemplo

**EJERCICIO** : Buscar las funciones de STRINGS en python:

- capitalize()
- count()
- endswith()
- upper() y lower()

Y escribir un ejemplo de aplicación de cada una

In [ ]:
# COMPLETAR

## Mensajes de error

A la hora de programar, vamos a ir obteniendo muchos mensajes de error. Es muy importante aprender a entender esos errores e identificar en que parte de nuestro código están. Muchas veces vamos a pasarnos tiempo buscando un error en google!

In [ ]:
a = error

¿ Por qué sucede el error de la celda anterior?

¿Y el siguiente?

In [ ]:
"Hola" * 1.5